.form {
  max-width: 360px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  background-color: white;
  padding: 36px 48px 64px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
}
